.modal {
    background-image: url(/assets/images/background.png);
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
    background-size:cover;
    z-index: 0;
    padding-bottom: 130px;
    padding-top: 125px;
}
.modal__background{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #002855;
    opacity: 0.6;
    z-index: 1;
    
    
}
.modal__container {
    background-color: #ffffff;
    border-radius: 30px;
    position: relative;
    z-index: 2;
    width: 920px;
    margin: 0 auto;
    box-shadow: 0 0 36px 4px rgba(44, 22, 29, 0.3);
    
    
    
}
/* HEADER SECTION */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    padding-bottom: 30px;
}
.header__button {
    border:none;
    background-color: #e10101;
    width: 36px;
    height: 36px;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(0,-18px);
    -webkit-transform: translate(0,-18px);
    -moz-transform: translate(0,-18px);
    -ms-transform: translate(0,-18px);
    -o-transform: translate(0,-18px);
}
.header__nav{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header__nav:before {
    content:"";
    background-image: url(/assets/images/curved-line.png);
    width: 63px;
    height: 7px;
}

.header__list {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-top: 28px;
    margin-bottom: 0;
}
.header__item:first-child {
    margin-right: 32px;
}
.header__item:nth-child(2) {
    margin-right: 36px;
    
}
.header__item:nth-child(3)>.header__link{
    color: #767777;
}
.header__link{
    font-size: 12px;
    color: #b8b9b9;
    font-family: 'Roboto';
    text-decoration: none;
}

.header__title {
    font-size: 38px;
    font-family: 'Montserrat';
    color: #0e1010;
    font-weight: 700;
    letter-spacing: -1.09px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header__title:after {
    content: "";
    background-image: url(/assets/images/curved-line.png);
    width: 63px;
    height: 7px;
    margin-top: 25px;
    
}
/* MAIN SECTION */
.main {
    background-color: #f8f8f8;
    box-shadow: inset 0 0 9px 1px rgba(1, 1, 1, 0.17);
    padding-top: 30px;
    padding-bottom: 50px;
}
.main__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__item {
    width: 500px;
    height: 40px;
    border: 2px solid #ebebeb;
    margin-top: 20px;
    padding-left: 30px;
}
.main__item:focus {
    background-color: #d3e6f4;
    border: 2px solid #b3cbda;
    
    outline: none;
}
.main__item:focus::placeholder {
    color: #5a5b5b;
}
.main__item::placeholder {
    color: #bdbdbd;
    font-family: "Roboto";
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    
    
}
.main__item--resize {
    resize: none;
    width: 500px;
    height: 147px;
}
/* FOOTER SECTION */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}
.footer__captcha{
    display: flex;
}
.footer__captcha-content {
    display: flex;
    flex-direction: column;
}
.footer__input {
    width: 320px;
    height: 40px;
    border: 2px solid #ebebeb;
    background-color: #f8f8f8;
}
.footer__label {
    color: #82a6bf;
    font-family: "Roboto";
    font-size: 12px;
    letter-spacing: 0.48px;
    margin-top: 10px;
}
.footer__img {
    margin-left: 20px;
}
.footer__btn {
    width: 208px;
    height: 66px;
    background-color: #16ba98;
    border:none;
    font-size: 24px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Roboto";
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    transform: translate(0, 33px);
    -webkit-transform: translate(0, 33px);
    -moz-transform: translate(0, 33px);
    -ms-transform: translate(0, 33px);
    -o-transform: translate(0, 33px);
}